KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=indsæt-et-sikkert-password-her
VITE_API_URL=http://localhost:3001
VITE_KEYCLOAK_URL=http://localhost:8100
VITE_KEYCLOAK_REALM=kvist-og-bjaelke
VITE_KEYCLOAK_CLIENT_ID=kvist-og-bjaelke-app
